<html>
  <head>
    {% if title %}
    <title>viscount - {{ title }}</title>
    {% else %}
    <title>Welcome to viscount</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
    <!-- cytosape.js -->
    <script type="text/javascript" charset="utf8" src="http://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.3.4/cytoscape.js"></script>
    <!-- bootstraps java script requires jquery -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- CSRF bits -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <script type="text/javascript">
      var csrftoken = $('meta[name=csrf-token]').attr('content')

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
        }
      })
    </script>

    <!-- viscount specific styling -->
    <link rel="stylesheet" type="text/css" href="/static/css/viscount.css">
    <!-- viscount javascript utilities -->
    <script src="/static/js/viscount.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
