<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="table-wrapper">
      <table id="events" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th id="eventsID">Event ID</th>
            <th id="eventsUserID">User ID</th>
            <th id="eventsUser">User</th>
            <th id="eventsTimestamp">Timestamp</th>
            <th id="eventsProjectID">Project ID</th>
            <th id="eventsProject">Project</th>
            <th id="eventsFileID">File ID</th>
            <th id="eventsFile">File</th>
            <th id="eventsJobID">Job ID</th>
            <th id="eventsWorkerID">Worker ID</th>
            <th id="eventsType">Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
function formatEntry( d ) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
       '<tr>'+
          '<td><a href="#eventsTab" role="tab" data-toggle="tab"> <i class="glyphicon glyphicon-bell"></i> Events </a></td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
    var table = $('#events').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": { url: "/events", type : "post" },
        "columns": [
            { "data": "id" },
            { "data": "user_id", "visible" : false },
            { "data": "user\\.username" },
            { "data": "timestamp" },
            { "data": "project_id", "visible" : false },
            { "data": "project\\.name" },
            { "data": "file_id", "visible" : false },
            { "data": "file\\.filename" },
            { "data": "job_id" },
            { "data": "worker_id" },
            { "data": "type" },
            {
                "class":          'details-control',
                "orderable":      false,
                "searchable":      false,
                "data":           null,
                "defaultContent": ''
            }
        ],
        "order": [[2, 'desc'], [1, 'asc'], [3, 'asc'], [4, 'asc']]
    } );
     
    // Add event listener for opening and closing details
    $('#events tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( formatEntry(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>
