<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="table-wrapper">
      <table id="projects" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th id="projectsID">Project ID</th>
            <th id="projectsName">Name</th>
            <th id="projectsUserID">User ID</th>
            <th id="projectsUser">User</th>
            <th id="projectsDescription">Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
function formatProject(d) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
       '<tr>'+
          '<td><a href="#" class="btn btn-warning" role="button" id="project'+d.id+'events"> <i class="glyphicon glyphicon-bell"></i> Events </a></td>'+
       '</tr>'+
    '</table>'+
    '<script type="text/javascript">$("#project'+d.id+'events").click(function(){'+
	'var table = $("#events").DataTable(); table.column("#eventsProjectID").search("'+d.id+'").draw();'+
    ' $("#eventsTabBtn").trigger("click");});<\/script>'
    ;
}

$(document).ready(function() {
    var table = $('#projects').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": { url: "/projects", type : "post" },
        "columns": [
            { "data": "id" },
            { "data": "name" },
            { "data": "user_id", "visible" : false },
            { "data": "user.username", "defaultContent": "" },
            { "data": "description" },
            {
                "class":          'details-control',
                "orderable":      false,
                "searchable":     false,
                "data":           null,
                "defaultContent": ''
            }
        ],
        "order": [[1, 'asc']]
    } );
     
    // Add event listener for opening and closing details
    $('#projects tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( formatProject(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>
