<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="table-wrapper">
      <table id="users" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Last login</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  {% if 'admin' in user.roles %}
  <div class="row">
    <hr/>
  </div>
  <div class="row">
	

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Create a new user</h3></div>
        <div class="panel-body">
    <form class="form-horizontal" action="/api/users" method="post" id="createUser" name="createUser">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="email" class="control-label col-xs-2">Email</label>
            <div class="col-xs-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="control-label col-xs-2">Username</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-xs-2">Password</label>
            <div class="col-xs-2">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="control-label col-xs-2">Role</label>
            <div class="col-xs-2">
              <select class="form-control" name="role">
                {% for role in roles %}
                  <option>{{ role.name }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="control-label col-xs-2">First name</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="firstName" placeholder="First name">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="control-label col-xs-2">Last name</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="lastName" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" id="createUserSubmit" class="btn btn-primary">Create User</button>
            </div>
        </div>
    </form>
    </div>
	</div>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
function formatUser(d) {
	var out = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
       '<tr><td>First name</td><td>'+d.firstName+'</td></tr>'+
       '<tr><td>Last name</td><td>'+d.lastName+'</td></tr>'+
       '<tr><td>Roles</td><td>';
	var comma = "";
	for (var i = 0; i < d.roles.length; ++i) {
		out = out + comma + d.roles[i].name;
		comma = ", ";
	}
	out = out + '</td></tr>'+
       '<tr><td>Is active?</td><td>'+d.active+'</td></tr>'+
       '<tr><td>Confirmed</td><td>'+d.confirmed_at+'</td></tr>'+
       '<tr><td>Registered</td><td>'+d.registered_at+'</td></tr>'+
       '<tr><td>Last login</td><td>'+d.last_login_at+'</td></tr>'+
       '<tr><td>Last login IP</td><td>'+d.last_login_ip+'</td></tr>'+
       '<tr><td>Login count</td><td>'+d.login_count+'</td></tr>'+
       '<tr><td>Current login</td><td>'+d.current_login_at+'</td></tr>'+
       '<tr><td>Current login IP</td><td>'+d.current_login_ip+'</td></tr>'+
       '<tr>'+
          '<td><a href="#" class="btn btn-warning" role="button" id="user'+d.id+'events"> <i class="glyphicon glyphicon-bell"></i> Events </a></td>'+
          '<td><a href="#" class="btn btn-primary" role="button" id="user'+d.id+'files"> <i class="glyphicon glyphicon-folder-open"></i> Files </a></td>'+
          '<td><a href="#" class="btn btn-success" role="button" id="user'+d.id+'jobs"> <i class="glyphicon glyphicon-tasks"></i> Jobs </a></td>'+
       '</tr>'+
    '</table>'+
    '<script type="text/javascript">$("#user'+d.id+'events").click(function(){'+
	'var table = $("#events").DataTable(); table.column("#eventsUserID").search("'+d.id+'").draw();'+
    ' $("#eventsTabBtn").trigger("click");});<\/script>'+
    '<script type="text/javascript">$("#user'+d.id+'files").click(function(){'+
	'var table = $("#files").DataTable(); table.column("#filesUserID").search("'+d.id+'").draw();'+
    ' $("#filesTabBtn").trigger("click");});<\/script>'+
    '<script type="text/javascript">$("#user'+d.id+'jobs").click(function(){'+
	'var table = $("#jobs").DataTable(); table.column("#jobsUserID").search("'+d.id+'").draw();'+
    ' $("#jobsTabBtn").trigger("click");});<\/script>'
    ;

	return out;
}

function loadUserTable() {
	var table;
	if ( $.fn.dataTable.isDataTable('#users') ) {
		table = $('#users').DataTable();
		table.ajax.reload();
	} else {
    	table = $('#users').DataTable( {
			"processing": true,
        	"serverSide": true,
        	"ajax": { url: "/users", type : "post" },
        	"columns": [
            	{ "data": "id" },
            	{ "data": "username" },
            	{ "data": "email" },
            	{ "data": "last_login_at" },
            	{
                	"class":          'details-control',
                	"orderable":      false,
                	"data":           null,
                	"defaultContent": ''
            	},
				// hidden fields to display on expand
				{ "data": "firstName", "visible" : false },
				{ "data": "lastName", "visible" : false },
				{ "data": "active", "visible" : false },
				{ "data": "confirmed_at", "visible" : false },
				{ "data": "current_login_at", "visible" : false },
				{ "data": "last_login_ip", "visible" : false },
				{ "data": "current_login_ip", "visible" : false },
				{ "data": "login_count", "visible" : false },
				{ "data": "registered_at", "visible" : false },
				{ "data": "roles", "visible" : false }
        	],
        	"order": [[1, 'asc']]
    	} );
	}

	return table
}

$(document).ready(function() {
	var table = loadUserTable();

    // Add event listener for opening and closing details
    $('#users tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( formatUser(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );

//callback handler for form submit
$("#createUser").submit(function(event)
{
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    var formMethod = $(this).attr("method");
    $.ajax(
    {
        url : formURL,
        type: formMethod,
        data : postData,
		dataType : 'json',
	})
		.done(function(data) {
			loadUserTable();
		})
		.fail(function(data) {
			processAPIErrorMessages(data);
		})
    event.preventDefault(); //STOP default action
});
</script>
