<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="table-wrapper">
      <table id="users" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Last login</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  {% if 'admin' in user.roles %}
  <div class="row">
    <hr/>
  </div>
  <div class="row">
    <form class="form-horizontal" action="/api/users" method="post" id="createUser" name="createUser">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="email" class="control-label col-xs-2">Email</label>
            <div class="col-xs-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="control-label col-xs-2">Username</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-xs-2">Password</label>
            <div class="col-xs-2">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="control-label col-xs-2">Role</label>
            <div class="col-xs-2">
              <select class="form-control" name="role">
                {% for role in roles %}
                  <option>{{ role.name }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="control-label col-xs-2">First name</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="firstName" placeholder="First name">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="control-label col-xs-2">Last name</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="lastName" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" id="createUserSubmit" class="btn btn-primary">Create User</button>
            </div>
        </div>
    </form>
  </div>
  {% endif %}
</div>

<script type="text/javascript">
function formatUser(d) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
       '<tr>'+
          '<td><a href="#" class="btn btn-warning" role="button" id="user'+d.id+'events"> <i class="glyphicon glyphicon-bell"></i> Events </a></td>'+
          '<td><a href="#" class="btn btn-primary" role="button" id="user'+d.id+'files"> <i class="glyphicon glyphicon-folder-open"></i> Files </a></td>'+
          '<td><a href="#" class="btn btn-success" role="button" id="user'+d.id+'jobs"> <i class="glyphicon glyphicon-tasks"></i> Jobs </a></td>'+
       '</tr>'+
    '</table>'+
    '<script type="text/javascript">$("#user'+d.id+'events").click(function(){'+
	'var table = $("#events").DataTable(); table.column("#eventsUserID").search("'+d.id+'").draw();'+
    ' $("#eventsTabBtn").trigger("click");});<\/script>'+
    '<script type="text/javascript">$("#user'+d.id+'files").click(function(){'+
	'var table = $("#files").DataTable(); table.column("#filesUserID").search("'+d.id+'").draw();'+
    ' $("#filesTabBtn").trigger("click");});<\/script>'+
    '<script type="text/javascript">$("#user'+d.id+'jobs").click(function(){'+
	'var table = $("#jobs").DataTable(); table.column("#jobsUserID").search("'+d.id+'").draw();'+
    ' $("#jobsTabBtn").trigger("click");});<\/script>'
    ;
}

function loadUserTable() {
    var table = $('#users').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": { url: "/users", type : "post" },
        "columns": [
            { "data": "id" },
            { "data": "username" },
            { "data": "email" },
            { "data": "last_login" },
            {
                "class":          'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
        ],
        "order": [[1, 'asc']]
    } );
}

$(document).ready(function() {
	loadUserTable();

    // Add event listener for opening and closing details
    $('#users tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( formatUser(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );

//callback handler for form submit
$("#createUser").submit(function(e)
{
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    var formMethod = $(this).attr("method");
    $.ajax(
    {
        url : formURL,
        type: formMethod,
        data : postData,
        success:function(data, textStatus, jqXHR) 
        {
            //data: return data from server
			loadTable();
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            //if fails      
        }
    });
    e.preventDefault(); //STOP default action
    e.unbind(); //unbind. to stop multiple form submit.
});
 
$("#createUserSubmit").click(function () {
    $("#createUser").submit(); //Submit the FORM
});
</script>
