<div class="container-fluid">
	<div class="row-fluid">
		<div class="table-wrapper">
			<table id="workflows" class="stripe row-border order-column" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th id="workflowID">Workflow ID</th>
						<th id="workflowName">Name</th>
						<th id="workflowDescription">Description</th>
						<th id="workflowRevision">Rev.</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-12" id="workflowEditorTitle" style="text-align:center">
			Workflow Editor
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-md-10">
			<div id="workflowEditorCytoscape" style="border:1px solid #CCC"></div>
		</div>
		<div class="col-md-2">
			editor controls go here
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">Create a new task</h3></div>
			<div class="panel-body">
				<form action="/api/users" method="post" id="createTask" name="createTask">
					<fieldset class="form-horizontal">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					<div class="form-group">
						<label for="name" class="control-label col-xs-2">Name</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" name="name" placeholder="Task name">
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="control-label col-xs-2">Description</label>
						<div class="col-xs-10">
							<textarea class="col-xs-10" rows="3" name="description" placeholder="Description" required></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="source" class="control-label col-xs-2">Source file</label>
						<div class="col-xs-4">
							<select name="source" class="form-control">
								<option value="">Select a source file</option>
								{% for file_type in file_types %}
									<option value="{{ file_type.id }}">{{ file_type.name }}</option>
								{% endfor %}
							</select>
						</div>
					</fieldset>
					<fieldset id="inputs">
						<legend>Inputs</legend>
						<div class="container-fluid formrow">
							<div class="col-xs-1 nopadding" style="text-align:center">
								<button type="button" class="btn btn-success" role="button" id="createTaskAddInput">
									<i class="glyphicon glyphicon-plus"/></i>
								</button>
							</div>
							<div class="col-xs-2 nopadding">
								<select name="inputs_file_type[]" class="form-control">
									<option value="">Select a file type</option>
									{% for file_type in file_types %}
										<option value="{{ file_type.id }}">{{ file_type.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-xs-2 nopadding">
								<input class="form-control" type="text" name="name" placeholder="Name"/>
							</div>
							<div class="col-xs-6 nopadding">
								<input class="form-control" type="text" name="description" placeholder="Description"/>
							</div>
						</div>
					</fieldset>
					<br/>
					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-10">
							<button type="submit" id="createTaskSubmit" class="btn btn-primary">Create Task</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$("#createTaskAddInput").click(function() {
	console.log("got here!")
	var sourceNode = document.querySelector('.formrow');
	var fieldset = U.$('inputs');
	var newRow = sourceNode.cloneNode(true);
	var rows = fieldset.childElementCount - 1; // don't count legend
	var btn = newRow.firstElementChild.firstElementChild;
	btn.id = null;
	btn.setAttribute("class", "btn btn-danger");
	U.addEvent(btn, 'click', function() {removeRow(btn)});
	var icon = btn.firstElementChild;
	icon.setAttribute("class", "glyphicon glyphicon-minus");
	console.log(btn);
	fieldset.appendChild(newRow);	
});

function removeRow(obj) {
	var theRow = obj.parentNode.parentNode;
	var theRowParent = theRow.parentNode;
	theRowParent.removeChild(theRow);
}

function formatWorkflow(d) {
	var ret = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
	if (d.revised_from) {
		ret += '<tr><td colspan="2">Revised from</td></tr>'+
		'<tr><td>ID</td><td>'+d.revised_from.id+'</td></tr>'+
		'<tr><td>Name</td><td>'+d.revised_from.name+'</td></tr>'+
		'<tr><td>Description</td><td>'+d.revised_from.description+'</td></tr>'+
		'<tr><td>Revision</td><td>'+d.revised_from.revision+'</td></tr>';
	}
	// add linkout buttons
	ret += '<tr><td colspan="2">'+
			'<a href="#workflowEditorTitle" class="btn btn-success" role="button" id="workflow'+d.id+'LoadInEditor"> <i class="glyphicon glyphicon-bell"></i> Load in editor </a>'+
			'&nbsp;&nbsp;&nbsp;&nbsp;'+
			'<a href="#" class="btn btn-warning" role="button" id="workflow'+d.id+'events"> <i class="glyphicon glyphicon-bell"></i> Events </a>'+
			'</td></tr>'+
	'</table>'+
	'<script type="text/javascript">'+
	'$("#workflow'+d.id+'LoadInEditor").click(function(){'+
		'loadWorkflowInEditor('+d.id+', "'+d.name+'");'+
	'});'+
	'$("#workflow'+d.id+'events").click(function(){'+
	'var table = $("#events").DataTable(); table.column("#eventsWorkflowID").search("'+d.id+'").draw();'+
	' $("#eventsTabBtn").trigger("click");});'+
	'<\/script>';

	return ret;
}

function setupWorkflowEditor() {
	var cy = cytoscape({ 
			layout : { name : 'cose' },
			container: document.getElementById("workflowEditorCytoscape")
		});
	return cy;
}
document.getElementById("workflowEditorCytoscape").cy = setupWorkflowEditor();

$("a[href='#workflowsTab']").on("shown.bs.tab", function (e) {
	var cy = document.getElementById("workflowEditorCytoscape").cy;
	cy.resize();
	cy.fit();
});

function loadWorkflowInEditor(workflow_id, workflow_name) {
	$("#workflowEditorTitle").html("Workflow Editor: " + workflow_name + " (ID " + workflow_id + ")");
	$.ajax( {
		url : 'api/workflows/'+workflow_id+'/cytoscape',
		dataType : "json",
		type : "GET",
	} ).fail(function(data) { processAPIErrorMessages(data); })
		.success(function(data, textStatus, xhr) {
			var cy = document.getElementById("workflowEditorCytoscape").cy;
			cy.load(xhr.responseJSON.elements);
			cy.style(xhr.responseJSON.style);
		});
}

function loadWorkflowTable() {
	var table;
	if ( $.fn.dataTable.isDataTable('#workflows') ) {
		table = $('#workflows').DataTable();
		table.ajax.reload();
	} else {
		table = $('#workflows').DataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": { url: "/api/workflows/datatables", type : "post" },
			"columns": [
				{ "data": "id" },
				{ "data": "name" },
				{ "data": "description" },
				{ "data": "revision" },
				{
					"class":		  'details-control',
					"orderable":	  false,
					"data":			null,
					"defaultContent": ''
				},
				// hidden fields to display on expand
				{ "data": "revised_from\\.id", "visible" : false },
				{ "data": "revised_from\\.name", "visible" : false },
				{ "data": "revised_from\\.description", "visible" : false },
				{ "data": "revised_from\\.revision", "visible" : false },
			],
			"order": [[1, 'asc']]
		} );
	}

	return table
}

$(document).ready(function() {

	var table = loadWorkflowTable();

	// Add event listener for opening and closing details
	$('#workflows tbody').on('click', 'td.details-control', function () {
		var tr = $(this).closest('tr');
		var row = table.row( tr );
 
		if ( row.child.isShown() ) {
			// This row is already open - close it
			row.child.hide();
			tr.removeClass('shown');
		}
		else {
			// Open this row
			row.child( formatWorkflow(row.data()) ).show();
			tr.addClass('shown');
		}
	} );

});
</script>
