<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">

	<div class="row">
		<div class="table-wrapper">
			<table id="workflows" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Workflow ID</th>
						<th>Name</th>
						<th>Description</th>
						<th>Revision</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>


	<div class="row-fluid" href="#workflowVis">
		<div id="cy" style="height:60%;width=90%;position:relative;border:2px solid #222;left:0;top:0;"></div>
	</div>
</div>

<script type="text/javascript">

function loadWorkflowTable() {
	var table;
	if ( $.fn.dataTable.isDataTable('#workflows') ) {
		table = $('#workflows').DataTable();
		table.ajax.reload();
	} else {
		table = $('#workflows').DataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": { url: "/workflows", type : "post" },
			"columns": [
				{ "data": "id" },
				{ "data": "name" },
				{ "data": "description" },
				{ "data": "revision" },
				{
					"class":		  'details-control',
					"orderable":	  false,
					"data":		   null,
					"defaultContent": ''
				},
				// hidden fields to display on expand
				{ "data": "revised_from\.name", "visible" : false },
				{ "data": "revised_from\.description", "visible" : false },
				{ "data": "revised_from\.revision", "visible" : false },
			],
			"order": [[1, 'asc']]
		} );
	}

	return table
}

$(document).ready(function() {

	var table = loadWorkflowTable();

	// Add event listener for opening and closing details
	$('#workflows tbody').on('click', 'td.details-control', function () {
		var tr = $(this).closest('tr');
		var row = table.row( tr );
 
		if ( row.child.isShown() ) {
			// This row is already open - close it
			row.child.hide();
			tr.removeClass('shown');
		}
		else {
			// Open this row
			row.child( formatUser(row.data()) ).show();
			tr.addClass('shown');
		}
	} );

	var cy = cytoscape({
		container: document.getElementById('cy'),
		ready: function(){ console.log('ready') },
		elements: {
			nodes: [
				{ data: { id: 'a', parent: 'b', foo : '12'} },
				{ data: { id: 'b' } },
				{ data: { id: 'c', parent: 'b' } },
				{ data: { id: 'd' } },
				{ data: { id: 'e' } },
				{ data: { id: 'f', parent: 'e' } }
		],
		edges: [
				{ data: { id: 'ad', source: 'a', target: 'd' } },
				{ data: { id: 'eb', source: 'e', target: 'b' } }
				
		]},
		style: [
			{
				selector: 'node',
				css: {
					'content': 'data(id)',
					'text-valign': 'center',
					'text-halign': 'center'
				}
			},
			{
				selector: '$node > node',
				css: {
					'padding-top': '10px',
					'padding-left': '10px',
					'padding-bottom': '10px',
					'padding-right': '10px',
					'text-valign': 'top',
					'text-halign': 'center'
				}
			},
			{
				selector: 'edge',
				css: {
					'target-arrow-shape': 'triangle'
			}
			},
			{
				selector: ':selected',
				css: {
					'background-color': 'black',
					'line-color': 'black',
					'target-arrow-color': 'black',
					'source-arrow-color': 'black'
				}
			}
		],
		layout: {
			name: 'breadthfirst',
			padding: 5
		}
	});

	$('a[href="#workflowsTab"]').on('shown.bs.tab', function (e) {
		cy.resize();
		cy.fit();
	});

});
</script>
