{% extends "_base.html" %}
{% block content %}
{% include "_navbar.html" %}
{% include "_messages.html" %}

<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
	<div class="row">
<div class="tab-content">
  <div class="tab-pane active" id="projectsTab">{% include "_projects.html" %}</div>
  <div class="tab-pane" id="filesTab">{% include "_files.html" %}</div>
  <div class="tab-pane" id="workflowsTab">{% include "_workflows.html" %}</div>
  <div class="tab-pane" id="eventsTab">{% include "_events.html" %}</div>
  <div class="tab-pane" id="usersTab">{% include "_users.html" %}</div>
  <div class="tab-pane" id="jobsTab">{% include "_jobs.html" %}</div>
  <div class="tab-pane" id="workersTab">{% include "_workers.html" %}</div>
</div>
	</div>
</div>

<script type="text/javascript">
function goToByScroll(id){
  $('html,body').animate({scrollTop: $("#"+id).offset().top - $('#navbar').height() },'slow');
}

function processAPIErrorMessages(data) {
    if (data.responseJSON.hasOwnProperty('errors')) {
        console.log(data.responseJSON.errors)
        for (var key in data.responseJSON.errors) {
            $("#message_block").html("<div class='alert alert-danger'><a href='#' class='close' data-dismiss='alert'>&times;</a>" + key + ": " + data.responseJSON.errors[key] + "</div>");
        }
    }
    if (data.responseJSON.hasOwnProperty('error')) {
            $("#message_block").html("<div class='alert alert-danger'><a href='#' class='close' data-dismiss='alert'>&times;</a>" + data.responseJSON.error + "</div>");
    }
    if (data.responseJSON.hasOwnProperty('message')) {
            $("#message_block").html("<div class='alert alert-warning'><a href='#' class='close' data-dismiss='alert'>&times;</a>" + data.responseJSON.message + "</div>");
    }
    goToByScroll('message_block');
    console.log(data);
}
</script>

{% include "_footer.html" %}
{% endblock %}
