{% extends "_base.html" %}
{% block content %}
{% include "_navbar.html" %}
{% include "_messages.html" %}

<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
	<div class="row">
<div class="tab-content">
  <div class="tab-pane active" id="eventsTab">{% include "_events.html" %}</div>
  <div class="tab-pane" id="projectsTab">{% include "_projects.html" %}</div>
  <div class="tab-pane" id="filesTab">{% include "_files.html" %}</div>
  <div class="tab-pane" id="usersTab">{% include "_users.html" %}</div>
  <div class="tab-pane" id="jobsTab">{% include "_jobs.html" %}</div>
  <div class="tab-pane" id="workersTab">{% include "_workers.html" %}</div>
</div>
	</div>
</div>

{% include "_footer.html" %}
{% endblock %}
