<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="table-wrapper">
      <table id="events" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Event ID</th>
            <th>User</th>
            <th>Timestamp</th>
            <th>Project ID</th>
            <th>File ID</th>
            <th>Job ID</th>
            <th>Worker ID</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
function formatEntry( d ) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
       '<tr>'+
          '<td>stuff in here</td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
    var table = $('#events').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": { url: "/events", type : "post" },
        "columns": [
            { "data": "id" },
            { "data": "user_id" },
            { "data": "timestamp" },
            { "data": "project_id" },
            { "data": "file_id" },
            { "data": "job_id" },
            { "data": "worker_id" },
            { "data": "type" },
            {
                "class":          'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
        ],
        "order": [[3, 'desc'], [2, 'asc'], [4, 'asc'], [5, 'asc']]
    } );
     
    // Add event listener for opening and closing details
    $('#events tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( formatEntry(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>
