<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="table-wrapper">
      <table id="projects" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Project ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
function format ( d ) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
       '<tr>'+
    '<div class="table-wrapper">'+
      '<table id="project'+d['0']+'events" class="display" cellspacing="0" width="100%">'+
        '<caption><strong>Events</strong></caption>'+
        '<thead>'+
          '<tr>'+
            '<th>Event ID</th>'+
            '<th>User</th>'+
            '<th>Timestamp</th>'+
            '<th>File ID</th>'+
            '<th>Job ID</th>'+
            '<th>Worker ID</th>'+
            '<th>Type</th>'+
            '<th></th>'+
          '</tr>'+
        '</thead>'+
        '<tbody>'+
        '</tbody>'+
      '</table>'+
    '</div>'+
       '</tr>'+
       '<tr></br></tr>'+
       '<tr>'+
    '<div class="table-wrapper">'+
      '<table id="project'+d['0']+'files" class="display" cellspacing="0" width="100%">'+
        '<caption><strong>Files</strong></caption>'+
        '<thead>'+
          '<tr>'+
            '<th>File ID</th>'+
            '<th>User</th>'+
            '<th>Description</th>'+
            '<th>md5sum</th>'+
            '<th>Job ID</th>'+
            '<th></th>'+
          '</tr>'+
        '</thead>'+
        '<tbody>'+
        '</tbody>'+
      '</table>'+
    '</div>'+
       '</tr>'+
       '<tr></br></tr>'+
       '<tr>'+
    '<div class="table-wrapper">'+
      '<table id="project'+d['0']+'jobs" class="display" cellspacing="0" width="100%">'+
        '<caption><strong>Jobs</strong></caption>'+
        '<thead>'+
          '<tr>'+
            '<th>Job ID</th>'+
            '<th>User</th>'+
            '<th>State</th>'+
            '<th>Command</th>'+
            '<th></th>'+
          '</tr>'+
        '</thead>'+
        '<tbody>'+
        '</tbody>'+
      '</table>'+
    '</div>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
    var table = $('#projects').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": { url: "projects", type : "post" },
        "columns": [
            { "data": "id" },
            { "data": "name" },
            { "data": "description" },
            {
                "class":          'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
        ],
        "order": [[1, 'asc']]
    } );
     
    // Add event listener for opening and closing details
    $('#projects tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>
