{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
{% include "messages.html" %}
<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
<div class="row">
  <div class="panel-group" id="accordian">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Users</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

  <div class="table-wrapper">
  <table class="table table-striped table-condensed table-bordered">
    <caption>Users</caption>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Fullname</th>
	<th>Email</th>
	<th>Active?</th>
	<th>Last login</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for target in users %}
          <tr>
            <td>{{ target.id }}</td>
            <td>{{ target.username }}</td>
            <td>{{ target.firstName if target.firstName != None }} {{ target.lastName if target.lastName != None }}</td>
            <td>{{ target.email if target.email != None }}</td>
            <td>{{ target.isActive }}</td>
            <td>{{ target.last_login.strftime('%c') if target.last_login != None }}</td>
            <td>
            {% if user.role == "admin" or user.id == target.id %}
		<a href="{{ url_for('user_api', id=target.id, _method='GET') }}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
	    {% else %}
		<a href="{{ url_for('user_api', id=target.id, _method='GET') }}"><i class="glyphicon glyphicon-eye-open"></i> View</a>
	    {% endif %}
            {% if user.role == "admin" %}
		&nbsp; &nbsp;
		<a href="{{ url_for('user_api', id=target.id, _method='DELETE') }}"><i class="glyphicon glyphicon-trash"></i> Delete</a>
	    {% endif %}
	    </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  </div>
</div>
                </div>
            </div>
        </div>

{% if user.role == 'admin' %}
<div class="row">
<div class="col-md-6 col-center-block">
  <a href="{{ url_for('user_api', method='POST') }} class="btn btn-primary btn-md active" role="button"><i class="glyphicon glyphicon-user"></i> Add user</a>
</div>
</div>
{% endif %}
</div>
{% include "footer.html" %}
{% endblock %}
