<div class="container-fluid" style="padding-bottom: 40px; padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="table-wrapper">
      <table id="users" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Last login</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
function formatUser(d) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
       '<tr>'+
          '<td><a href="#" class="btn btn-warning" role="button" id="user'+d.id+'events"> <i class="glyphicon glyphicon-bell"></i> Events </a></td>'+
          '<td><a href="#" class="btn btn-primary" role="button" id="user'+d.id+'files"> <i class="glyphicon glyphicon-folder-open"></i> Files </a></td>'+
          '<td><a href="#" class="btn btn-success" role="button" id="user'+d.id+'jobs"> <i class="glyphicon glyphicon-tasks"></i> Jobs </a></td>'+
       '</tr>'+
    '</table>'+
    '<script type="text/javascript">$("#user'+d.id+'events").click(function(){'+
	'var table = $("#events").DataTable(); table.column("#eventsUserID").search("'+d.id+'").draw();'+
    ' $("#eventsTabBtn").trigger("click");});<\/script>'+
    '<script type="text/javascript">$("#user'+d.id+'files").click(function(){'+
	'var table = $("#files").DataTable(); table.column("#filesUserID").search("'+d.id+'").draw();'+
    ' $("#filesTabBtn").trigger("click");});<\/script>'+
    '<script type="text/javascript">$("#user'+d.id+'jobs").click(function(){'+
	'var table = $("#jobs").DataTable(); table.column("#jobsUserID").search("'+d.id+'").draw();'+
    ' $("#jobsTabBtn").trigger("click");});<\/script>'
    ;
}

$(document).ready(function() {
    var table = $('#users').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": { url: "/users", type : "post" },
        "columns": [
            { "data": "id" },
            { "data": "username" },
            { "data": "email" },
            { "data": "last_login" },
            {
                "class":          'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            }
        ],
        "order": [[1, 'asc']]
    } );
     
    // Add event listener for opening and closing details
    $('#users tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( formatUser(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
} );
</script>
