body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td.details-control {
    background: url('/static/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/static/img/details_close.png') no-repeat center center;
}

#workflowEditorCytoscape {
	height : 85%;
}

.container-fluid {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#workflowEditorTitle {
    padding-top: 60px;
    margin-top: -60px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
